<div class="container mt-5">
  <h2 class="mb-4">{{ isEditMoive ? "UPDATE" : "ADD" }} Movie</h2>

  <ng-template #movieDontExistsTemp>
    <div>Movie Doesn't Exists.</div>
  </ng-template>
  <form
    *ngIf="!movieDontExists; else movieDontExistsTemp"
    [formGroup]="MovieForm"
    (ngSubmit)="onSubmit()"
  >
    <!-- Title of the movie -->
    <div class="mb-3">
      <label for="movieTitle" class="form-label">Title of the Movie</label>
      <input
        type="text"
        formControlName="title"
        class="form-control"
        id="movieTitle"
        required
      />
    </div>

    <!-- Cast members -->
    <div formArrayName="castMembers" class="mb-3">
      <label for="castMembers" class="form-label">Cast Members</label>

      <div
        *ngFor="let item of _castMembers.controls; let i = index"
        class="form-group"
      >
        <input [formControl]="item" class="form-control" />
        <button
          type="button"
          (click)="removeCastMember(i)"
          class="btn btn-danger"
        >
          Remove
        </button>
      </div>

      <button type="button" (click)="addCastMember()" class="btn btn-success">
        Add Item
      </button>
    </div>

    <!-- Release date of the movie -->
    <div class="mb-3">
      <label for="releaseDate" class="form-label">Release Date</label>
      <input
        type="date"
        formControlName="releaseDate"
        class="form-control"
        id="releaseDate"
        required
      />
    </div>

    <!-- Button to publish the movie and publish reviews -->
    <button type="submit" class="btn btn-primary">
      Publish Movie & Reviews
    </button>
  </form>
</div>
